URxvt.font:xft:Liberation Mono:size=12
URxvt.scrollBar: false
!urxvt color scheme:
URxvt*background: #2D2D2D
URxvt*foreground: #F8F8F2

URxvt*colorUL: #86a2b0

! black
URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #CC0000
URxvt*color9  : #EF2929
! green
URxvt*color2  : #A6E22E
URxvt*color10 : #8AE234
! yellow
URxvt*color3  : #E6DB74
URxvt*color11 : #75715E
! blue
URxvt*color4  : #3465A4
URxvt*color12 : #729FCF
! magenta
URxvt*color5  : #75507B
URxvt*color13 : #AD7FA8
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #66D9EF
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC
URxvt.transparent: true
URxvt.shading:70
